services:
  # A Docker web service
  - type: pserv
    name: chgk-grpc
    env: docker
    repo: https://github.com/fadeevdev/chgk-telegram.git
    dockerfilePath: ./Dockerfile.chgk
    dockerContext: .
    region: oregon
    plan: starter
    branch: master # optional (uses repo default)
    numInstances: 1 # optional (defaults to 1)
    autoDeploy: true # optional

  - type: web
    name: grpc-gateway
    env: docker
    repo: https://github.com/fadeevdev/chgk-telegram.git
    dockerfilePath: ./Dockerfile.gateway
    dockerContext: .
    region: oregon
    plan: starter
    branch: master # optional (uses repo default)
    numInstances: 1 # optional (defaults to 1)
    autoDeploy: true # optional
